<h1>Impressum</h1>
<h2>Angaben gemäß § 5 TMG:</h2>
<p>Max Mustermann<br />
Musterstraße 111<br />
Gebäude 44<br />
90210 Musterstadt
</p>
<h2>Kontakt:</h2>
<table><tr>
<td>Telefon:</td>
<td>+49 (0) 123 44 55 66</td></tr>
<tr><td>Telefax:</td>
<td>+49 (0) 123 44 55 99</td></tr>
<tr><td>E-Mail:</td>
<td>mustermann@musterfirma.de</td>
</tr></table>
<h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV:</h2>
<p>Beate Beispielhaft<br />
<br />
Musterstraße 110<br />
Gebäude 33<br />
90210 Musterstadt</p>
<p> </p>
<p>Quelle: <em><a rel="nofollow" href="http://www.e-recht24.de">http://www.e-recht24.de</a></em></p>
